@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&family=Urbanist:wght@100;200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
    /* border-radius: 10px; */
  }
  ::-webkit-scrollbar-thumb {
    /* border-radius: 10px; */
    background: #6A65B0;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(150, 58, 255, 0.912);
    cursor: pointer;
  }